.item {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  background-color: #f0ebea;
  list-style: none;
  width: 15%;
}

.badge {
  background-color: #6ba3cb;
  border-radius: 5px;
  border: none;
  padding: 10px;
}

.item:hover {
  background-color: #C8C9CA  ;
}
