.heroesContainer {
    margin-top: 20px;
}

.listMyHeroes {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.myHeroBtn {
    display: grid;
    align-items: center;
    grid-template-columns: 35fr 2fr;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    background-color: #D3D3CF;
    text-decoration: none;
}

.myHeroBtn span {
    padding: 6px 6px;
    border-radius: 4px;
    background-color: teal;
}

.myHeroBtn:hover {
    background-color: #B6B6B6;
}

.deleteBtn {
    align-self: center;
    justify-self: center;
    padding: 6px 6px;
    border-radius: 4px;
    background-color: #D52626;
}

.deleteBtn:hover {
    background-color: #EFB633;
}