<!-- <app-test></app-test> -->
<!-- <div class="app-test"></div> -->
<!-- <div app-test></div> -->



<div style="text-align: center;">
  <h1>
    From app.component
  </h1>
</div>
<app-binding></app-binding>
<h1 style="color: red;">ViewChild</h1>
<button (click)="onClickViewChild()">Test View Child</button>
<app-ng-directive #testViewChild></app-ng-directive>
<!-- componentInteraction -->
<app-component-interaction (childEvent)="message=$event" [parentData]="componentInteraction">
</app-component-interaction>
<h2>{{message}}</h2>
<h1>-----------------------------------------------------------------------------------------------------></h1>
<div>
  <button (click)="statusInteractive=true">Set statusInteractive True</button>
  <button (click)="statusInteractive=false">Set statusInteractive False</button>
  <p>{{statusInteractive}}</p>
</div>
<app-component-interactive2 [parentData2]="statusInteractive" [parentData3]="statusInteractive"></app-component-interactive2>
<app-pipes></app-pipes>
<app-for-service1></app-for-service1>
<app-for-service2></app-for-service2>

<!-- <router-outlet></router-outlet> -->