<!-- <div class="app-test"></div> -->
<!-- <app-test></app-test> -->
<!-- <div app-test></div> -->



<div style="text-align: center;">
  <h1>
    From app.component
  </h1>
</div>
<app-binding></app-binding>
<app-ng-directive></app-ng-directive>
<!-- componentInteraction -->
<app-component-interaction (childEvent)="message=$event" [parentData]="componentInteraction">
</app-component-interaction>
<h2>{{message}}</h2>
<app-pipes></app-pipes>
<app-for-service1></app-for-service1>
<app-for-service2></app-for-service2>

<!-- <router-outlet></router-outlet> -->