<div class="container-fluid">

  <h1>{{title}}</h1>

  <h2>Template Driven Form</h2>
  <div class="alert alert-danger" *ngIf="errorMessage">
    {{errorMessage}}
  </div>
  <form *ngIf="!submitted" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" novalidate>
    <!-- display ngForm -->
    {{userForm.value | json}}
    <hr> {{userModel | json}}
    <!-- display ngForm form property-->
    <h4>display ngForm form property(ของทั้ง form)</h4>
    <div>untouched : {{userForm.form.untouched}}</div>
    <div>touched : {{userForm.form.touched}}</div>
    <div>pristine : {{userForm.form.pristine}}</div>
    <div>dirty : {{userForm.form.dirty}}</div>
    <div>invalid : {{userForm.form.invalid}}</div>
    <div>valid : {{userForm.form.valid}}</div>
    <hr>
    <div class="form-group">
      <label for="name">Name</label>
      <input #name="ngModel" type="text" id="name" class="form-control is-valid" placeholder="please input name"
        name="name" [(ngModel)]="userModel.name" required>
      <small *ngIf="name">name is required (ไม่ได้ binding ngModel template ref ให้เพราะจะ check state ของ
        ngForm)</small>
    </div>

    <!-- <h4>class state ของ ngForm (เอามาโชว์ state เฉยๆ เวลาใช้ใช้ ngForm form property จะดีกว่า)</h4>
        <div>{{name.className}}</div> -->

    <!-- view แสดง validate  -->
    <div class="form-group">
      <label for="email">E-mail</label>
      <input #email="ngModel" type="email" id="email" class="form-control" [class.is-invalid]="email.invalid"
        [class.is-valid]="email.valid" placeholder="please input e-mail" name="email" [(ngModel)]="userModel.email"
        required>
      <!-- display message error -->
      <small *ngIf="email.invalid" [class.errorInvalid]="email.invalid">email is required</small>
    </div>
    <!-- display property ของ ngModel -->
    <h4>property state ของ ngModel(ของ ngModel email)</h4>
    <div>untouch : {{email.untouched}}</div>
    <div>touch : {{email.touched}}</div>
    <div>pristine : {{email.pristine}}</div>
    <div>dirty : {{email.dirty}}</div>
    <div>valid : {{email.valid}}</div>
    <div>invalid : {{email.invalid}}</div>

    <!-- set pattern ให้ input -> pattern การดักจำนวนตัวเลข ด้วย Regular Expressions(regx) -->
    <div class="form-group">
      <label for="phone">Phone</label>
      <input #phone="ngModel" type="tel" pattern="^\d{10}$" id="phone" class="form-control is-valid"
        [class.is-invalid]="phone.invalid" placeholder="please input phone number" name="phone"
        [(ngModel)]="userModel.phone" required>
      <!-- <small *ngIf="phone.invalid" [class.errorInvalid]="phone.invalid">phone number must be 10 digits or required</small> -->
      <!-- display message error (multi error) -->
      <div *ngIf="phone.errors && (phone.invalid || phone.untouched)">
        <small *ngIf="phone.errors.required" [class.errorInvalid]="phone.errors.required">phone number is
          required</small>
        <small *ngIf="phone.errors.pattern" [class.errorInvalid]="phone.errors.pattern">phone number must be 10
          digits</small>
      </div>
    </div>
    <!-- select validate -->
    <div class="form-group">
      <select (blur)="validateSelect(topic.value)" (change)="validateSelect(topic.value)" #topic="ngModel"
        class="custom-select" name="topic" [(ngModel)]="userModel.topicData"
        [class.is-invalid]="topicError && topic.touched" required>
        <option disabled value="default">Your interested FrameWork</option>
        <option *ngFor="let topic of topics" [value]="topic">{{topic}}</option>
      </select>
      <small *ngIf="topicError && topic.touched" class="text-danger">Please choose a topic</small>
    </div>
    <!-- radio btn validate-->
    <div class="mt-1">
      <label>Time Preference</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="timePreference" value="morning"
          [(ngModel)]="userModel.timePreference" required>
        <label class="form-check-label">Morning (9AM - 12PM)</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="timePreference" value="evening"
          [(ngModel)]="userModel.timePreference" required>
        <label class="form-check-label">Evening (5PM - 8PM)</label>
      </div>
    </div>
    <!-- check box validate-->
    <div class="mt-2">
      <label>Promotion</label>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="promotion" [(ngModel)]="userModel.promotion">
        <label class="form-check-label">Send me promotional offers</label>
      </div>
    </div>

    <!-- ใช้ ngform form property invalid มา set disable ปุ่ม submit -->
    <button [disabled]="userForm.form.invalid || topicError" class="btn btn-success mt-3" type="submit">Submit</button>

  </form>

</div>